<% layout("listings/layouts/boilerplate.ejs") -%>
<div class="row mt-3">
  <h1 class="col-6 offset-3">SignUp on StayFinder</h1>
  <div class="col-6 offset-3">
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          name="username"
          placeholder="Add a catchy username"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">username should be valid</div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          name="email"
          placeholder="Add a catchy email"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">email should be valid</div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          name="password"
          placeholder="Add a catchy password"
          type="password"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">password should be valid</div>
      </div>
      <button class="btn btn-success">Sign Up</button>
    </form>
  </div>
</div>
